<nav><a class="brand" href="/">⚜️ Library Legends</a><a href="/libraries">Kütüphaneler</a><a href="/cards">Kartlar</a><a href="/events">Etkinlikler</a><a href="/leaderboard">Sıralama</a><span></span><% if(user){ %><a href="/dashboard">Panel</a><a href="/logout">Çıkış</a><% } else { %><a href="/login/user">Kullanıcı Girişi</a><a href="/login/library">Kütüphane Girişi</a><% } %></nav>
