<!doctype html><html><head><%- include('head') %></head><body><%- include('nav') %><main><h1>KVKK ve Gizlilik</h1><p>TC ve telefon bilgileri sadece ilgili kütüphane admini ve yetkili üst adminler tarafından görüntülenir. Diğer kullanıcılara gösterilmez.</p></main></body></html>
